#accordion {
  background-color: rgb(229, 231, 235);
}

#accordion .trigger {
  padding: 1rem;
  position: relative;
  cursor: pointer;
}
#accordion .trigger::after {
  content: '>';
  display: inline-block;
  position: absolute;
  right: 16px;
  transform: rotate(90deg) scale(0.5, 1);
  font-weight: bold;
  transition: transform 0.3s;
}
#accordion .trigger.active::after {
  transform: rotate(-90deg) scale(0.5, 1);
}
#accordion .content {
  display: none;
  padding-top: 10px;
}
#accordion .content.active {
  display: block;
  padding: 1rem;
  background-color: rgb(243, 244, 246);
}
