#popup-wrapper {
  background: #000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#popup {
  width: 100%;
  margin: 10% auto;
  padding: 20px;
  background: #ffffff;
  position: relative;
  border-radius: 4px;
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
