.tabs > ul {
  padding: 0;
}
.tabs .trigger {
  list-style-type: none;
  display: inline-block;
  padding: 1rem 1.25rem;
  cursor: pointer;
  background-color: rgb(229, 231, 235);
}
.tabs .trigger.active {
  background-color: rgb(243, 244, 246);
}
.tabs .content {
  padding: 16px;
  display: none;
}
.tabs .content.active {
  display: block;
  background-color: rgb(243, 244, 246);
}
